@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";


#navbar-logo {
  background-color: $primary-color;
  
}
#navbar-links {
  background-color: $secondary-color;  
}  
body {
  margin-bottom: 60px; 
}
footer {
  background-color: $footer-color;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
} 
