@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";

#header {
  background-color: $primary-color;
}
.navbar {
  background-color: $secondary-color;
}
body {
  background-color: #000000;
}
